@model NewManagerViewModel

<style>

    body {
        background-color: black;
        font-family: 'OLD SPORT 02 ATHLETIC NCV';
    }

    .FormInput {
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    label {
        text-align: center;
        color: red;
        margin-left: 450px;
        font-size: 50px;
    }

    input {
        font-size: 20px;
        margin-top: 10px;
    }


    .SubmitBtn {
        color: red;
    }

        .SubmitBtn:hover {
            box-shadow: 0px 0px 20px red;
        }

</style>

<body>

    <label>Create Manager</label>
    <h5 style="color:white;font-family:fantasy;text-align:center">@ViewData["Error"]</h5>
    <form method="get">
        <div class="FormInput">

            <hr />
            <input type="text" asp-for="@Model.FirstName" placeholder="First Name" />
            <br />
            <input type="text" asp-for="@Model.LastName" placeholder="Last Name" />
            <br />
            <input type="date" asp-for="@Model.BornDate" placeholder="Birth Date" />
            <hr />
            <select asp-for="@Model.NationId">
                <option value="0">Select Nationality</option>
                @foreach (var item in @Model.Nations)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <hr />
            <select asp-for="@Model.TeamId">
                <option value="0">Select Team</option>
                @foreach (var item in @Model.Teams)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <hr />

            <input class="SubmitBtn" id="SubmitBtn" type="submit" asp-action="StartGame" onclick="funct1()" value="Start Game" />
            <br />
            <span hidden id="timerLabel">90</span>
            <p id="p"> </p>
            <p id="left" style="color:red"></p>
        </div>
    </form>
</body>

<script>
            document.getElementById("SubmitBtn").addEventListener("click", function() {
          document.getElementById("p").innerHTML = "Loading! Estimating time remaining....";
          let current = parseInt(document.getElementById("timerLabel").innerHTML);
    const countdown = function() {
      document.getElementById("left").innerHTML = --current || "Done"; // using current when 0 it is false
      if (current <= 0) clearTimeout(tId); // stop the interval
    };
    const tId = setInterval(countdown, 1000)
        });
</script>