@model NewManagerViewModel

<style>

    body {
        background-color: black;
        font-family: 'OLD SPORT 01 COLLEGE NCV';
    }

    .FormInput {
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    label {
        text-align: center;
        color: red;
        margin-left: 450px;
        font-size: 50px;
    }

    input {
        font-size: 20px;
        margin-top: 10px;
    }


    .SubmitBtn {
        color: red;
    }

        .SubmitBtn:hover {
            box-shadow: 0px 0px 20px red;
        }

</style>

<body>

    <label>Create Manager</label>

    <form method="get">
        <div class="FormInput">
            <hr />
            <input type="text" asp-for="@Model.FirstName" placeholder="First Name" />
            <br />
            <input type="text" asp-for="@Model.LastName" placeholder="Last Name" />
            <br />
            <input type="date" asp-for="@Model.BornDate" placeholder="Birth Date" />
            <hr />
            <select asp-for="@Model.NationId">
                <option value="0">Select Nationality</option>
                @foreach (var item in @Model.Nations)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <hr />
            <select asp-for="@Model.TeamId">
                <option value="0">Select Team</option>
                @foreach (var item in @Model.Teams)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <hr />

            <input class="SubmitBtn" type="submit" asp-action="StartGame" value="Start Game" />

        </div>
    </form>
</body>