@model NewManagerViewModel

<style>

    body {
        background-image: url("/Images/Wallpapers/NewManager.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'OLD SPORT 02 ATHLETIC NCV';
    }

        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: -1;
        }

    .FormInput {
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    label {
        text-align: center;
        color: red;
        margin-left: 490px;
        font-size: 50px;
    }

    input {
        font-size: 20px;
        margin-top: 10px;
    }


    .SubmitBtn {
        color: black;
        font-weight: bolder;
    }

        .SubmitBtn:hover {
            box-shadow: 0px 0px 20px white;
        }

    #TeamImage{
        height:180px;
        width:auto;
    }
</style>

<body>

    <label>Create Manager</label>
    <h5 style="color:white;font-family:fantasy;text-align:center">@ViewData["Error"]</h5>
    <form method="get">
        <div class="FormInput">

            <hr />
            <input type="text" asp-for="@Model.FirstName" placeholder="First Name" />
            <br />
            <input type="text" asp-for="@Model.LastName" placeholder="Last Name" />
            <br />
            <input type="date" asp-for="@Model.BornDate" placeholder="Birth Date" />
            <hr />
            <select asp-for="@Model.TeamId" onchange="updateTeamImage()">
                <option value="0" data-imageurl="Default.png">Select Team</option>
                @foreach (var team in @Model.Teams)
                {
                    <option value="@team.Id" data-imageurl="@team.ImageUrl">@team.Name</option>
                }
            </select>
            <hr />
            <img id="TeamImage" src="/Images/Team/Default.png" alt="Team Image" />
            <hr />
            <input class="SubmitBtn" id="SubmitBtn" type="submit" asp-action="Index" value="Back" />
            <input class="SubmitBtn" id="SubmitBtn" type="submit" asp-action="SelectImage" value="Next" />
            <br />
        </div>
    </form>
</body>
<script>
    function updateTeamImage() {
    var selectElement = document.querySelector('select');
    var selectedOption = selectElement.options[selectElement.selectedIndex];
    var teamImage = document.getElementById('TeamImage');

    // Log values for debugging
    console.log("Selected option:", selectedOption);
    
    // Retrieve the image URL from the data-imageurl attribute
    var imageUrl = selectedOption.getAttribute('data-imageurl');
    console.log("Image URL:", imageUrl);

    // Construct the full image URL
    var fullImageUrl = '/Images/Team/' + imageUrl;
    console.log("Full image URL:", fullImageUrl);

    // Update the image source
    teamImage.src = fullImageUrl;
}

</script>
