@model CalendarViewModel

<style>

    body {
        background-color: black;
        color: white;
        text-align: center;
        font-family:'OLD SPORT 02 ATHLETIC NCV';
    }

    .panel {
        margin: 5px;
        width: 150px;
        border: 1px solid white;
        background-color: color();
    }

    .days {
        margin-left:200px;
        display: grid;
        grid-template-columns: repeat(5, 200px);
    }

</style>

@{
    var competitionName = "";
    var color = "";
}

<partial name="~/Views/Shared/_SideBar.cshtml" />

<body>
    <label style="color:white;font-size:40px">Season @Model.Year</label>
    <hr />
    <div class="days">
        @foreach (var item in @Model.Days)
        {
            @if (@item.isLeagueDay)
            {
                competitionName = "League day";
            }
            @if (@item.isCupDay)
            {
                competitionName = "Cup day";
            }
            @if (@item.isEuroCupDay)
            {
                competitionName = "Eurocup day";
            }
            @if (@item.IsPlayed)
            {
                color = "rgb(255,64,64)";
            }
            else
            {
                color = "";
            }

            <div style="background-color:@color" class="panel">
                <p style="color:green">Day: @item.CurrentDay</p>
                <p>@competitionName</p>
            </div>
        }
    </div>

</body>