@model FixturesViewModel

<style>

    body {
        background-color: black;
        font-weight: bolder;
    }

    .buttons {
        text-align: center;
        margin-top: 10px;
    }

    table, th, td {
        border: 1px solid;
    }

    th {
        color: darkseagreen;
    }

    td:nth-child(1) {
        color: darkseagreen;
    }

    .fixtures {
        text-align: center;
        margin-top: 20px;
        color: white;
        font-size: 20px;
        margin-left: 300px;
    }

        .fixtures table {
            box-shadow: 0px 0px 10px white;
            border: 5px ridge white;
            table-layout: fixed;
        }

        .fixtures th {
            color: peru;
        }

    .Title {
        margin-top: 30px;
        color: white;
        font-size: 50px;
        font-family: fantasy;
        text-align: center;
    }

</style>

<partial name="~/Views/Shared/_SideBar.cshtml" />

<body>

    <div class="Title">
        <p>FIXTURES</p>
        <hr style="margin-left:80px;" />
    </div>

    <div class="buttons">
        <form method="get">
            <select class="select" asp-for="@Model.LeagueId">
                <option style="color:red">Choose League</option>
                @foreach (var item in @Model.Leagues)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <input type="submit" value="Choose" asp-action="Fixtures" />
            <br />
            @for (var i = 1; i <= @Model.AllRounds; i++)
            {
                <input type="hidden" asp-for="LeagueId">
                <input asp-action="ChooseRound" asp-route-id="@i" type="submit" value="@i" />
            }

        </form>
    </div>


    <div class="fixtures">

        <table>
            <tr>
                <th scope="col" style="width:70px">Round</th>
                <th scope="col" style="width:250px">HT</th>
                <th scope="col" style="width:100px">HG</th>
                <th scope="col" style="width:100px">AG</th>
                <th scope="col" style="width:250px">AT</th>
            </tr>
            @foreach (var item in @Model.Fixtures)
            {
                <tr>
                    <td>@item.Round</td>
                    <td>@item.HomeTeamName</td>
                    <td>@item.HomeTeamGoal</td>
                    <td>@item.AwayTeamGoal</td>
                    <td>@item.AwayTeamName</td>
                </tr>
            }
        </table>

    </div>

</body>