@model StandingsViewModel

<style>
    body {
        font-family: 'OLD SPORT 02 ATHLETIC NCV';
        background-color: black;
    }

    .players {
        text-align: center;
        margin-top: 20px;
        color: white;
        font-size: 20px;
        margin-left: 90px;
    }

        .players table {
            box-shadow: 0px 0px 10px white;
            border: 5px ridge white;
            width: 100%;
        }

        .players th {
            color: peru;
        }

        .players table tr:nth-child(2) {
            color: green;
        }

        .players table tr:nth-last-child(-n+2) {
            color: red;
        }

    input {
        font-weight: bolder;
    }

    .select {
        margin-left: 45px;
        margin-top: 10px;
    }

    .Title {
        margin-top: 20px;
        color: white;
        font-size: 50px;
        font-family: fantasy;
        text-align: center;
    }

</style>

@{
    var num = 0;
    var color = "";
}

<body>
    <partial name="~/Views/Shared/_SideBar.cshtml" />

    <div class="Title">
        <p>STANDINGS</p>
        <hr style="margin-left:100px;" />
    </div>

    <div class="select">
        <form method="get">
            <select class="select" asp-for="@Model.LeagueId">
                <option style="color:red;font-weight:bolder">Select League</option>
                @foreach (var league in @Model.Leagues)
                {
                    <option value="@league.Id">@league.Name</option>
                }
            </select>

            <input type="submit" value="Select" asp-action="Standings" />
        </form>
    </div>
    <div class="players">

        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>M</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GS</th>
                <th>GA</th>
                <th>GD</th>
                <th>P</th>
            </tr>
            @foreach (var item in @Model.VirtualTeams)
            {
                num++;

                <tr style="width:100px">
                    <td>@num</td>
                    <td>@item.Name</td>
                    <td>@item.Matches</td>
                    <td>@item.Wins</td>
                    <td>@item.Draws</td>
                    <td>@item.Loses</td>
                    <td>@item.GoalScored</td>
                    <td>@item.GoalAgainst</td>
                    <td>@item.GoalDifference</td>
                    <td>@item.Points</td>
                </tr>
            }
        </table>


</body>