@model TeamViewModel

<style>

    body {
        background-color: black;
        font-family: 'OLD SPORT 02 ATHLETIC NCV';
    }

    .TeamStats {
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 50px;
        box-shadow: 0px 0px 10px white;
        border: 5px ridge white;
        font-size: 15px;
        margin-left: 70px;
    }

    table, th, td {
        border: 1px solid;
    }

    .players {
        text-align: center;
        margin-top: 30px;
        color: white;
        font-size: 20px;
        margin-left: 90px;
    }

        .players table {
            box-shadow: 0px 0px 10px white;
            border: 5px ridge white;
            width: 105%;
        }

        .players th {
            color: peru;
        }


    .playerStatsLink {
        text-decoration: none;
        color: white;
    }

        .playerStatsLink:hover {
            color: blue;
        }

</style>

@{
    var num = 0;
}

<partial name="~/Views/Shared/_SideBar.cshtml" />

<body>

    <div class="TeamStats">
        <h1 style="text-align:center;">@Model.CurrentTeam.Name</h1>
        <hr />
        <p> @Model.Team.Nation.Name</p>
        @if (@Model.Team.City != null)
        {
            <p> @Model.Team.City.Name</p>
        }
        <p> @Model.CurrentTeam.League.Name</p>
        <hr />
        <p>Titles: @Model.CurrentTeam.Titles</p>
        <p>Budget: @Model.CurrentTeam.Budget coins</p>
    </div>

    <div class="players">

        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Pos</th>
                <th>Age</th>
                <th>Nat</th>
                <th>City</th>
                <th>Att</th>
                <th>Def</th>
                <th>Speed</th>
                <th>OVR</th>
                <th>Goals</th>
                <th>Clean Sheets</th>
            </tr>
            @foreach (var item in @Model.Players)
            {
                num++;
                <tr>
                    <th scope="row">@num</th>
                    <td><a class="playerStatsLink" asp-action="PlayerDetails" asp-route-id="@item.Id">@item.FirstName @item.LastName</a></td>
                    <td>@item.Position.Abbr</td>
                    <td>@item.Age</td>
                    <td>@item.Nation.Abbr</td>
                    <td>@item.City.Name</td>
                    <td>@item.Attack</td>
                    <td>@item.Defense</td>
                    <td>@item.Speed</td>
                    <td>@item.Overall</td>
                    <td>@item.Goals</td>
                    <td>@item.Passes</td>
                </tr>
            }
        </table>
    </div>

</body>