@using FootballManager.Core.Models.Player
@model TransferViewModel

<partial name="~/Views/Shared/_SideBar.cshtml" />

<style>

    body {
        background-color: black;
        font-family: 'High Tower Text'
    }

    .title {
        color: white;
        margin-top: 10px;
        margin-left: 400px;
        width: 700px;
        text-align: center;
    }

        .title label {
            font-size: 50px;
        }

    .FreeAgents {
        font-size: 30px;
        text-align: center;
        margin-top: -20px;
        margin-left: 60px;
        width: 1300px;
    }

    table, th, td {
        border: 1px solid;
    }

    .details {
        text-decoration: none;
        color: white;
    }

    .squadBtn {
        background-color: black;
        color: red;
        font-weight: bolder;
        border: 2px solid red;
        width: 200px;
    }

        .squadBtn:hover {
            box-shadow: 0px 0px 20px white;
        }


    .playerStatsLink {
        text-decoration: none;
        color: white;
    }

        .playerStatsLink:hover {
            color: blue;
        }

    .columnTitles {
        text-decoration: none;
        color: white;
    }

        .columnTitles:hover {
            color: blue;
        }

</style>

<form method="get">
    <body>

        <div class="title">
            <label>TRANSFER MARKET</label>
            <br />
            <input type="submit" class="squadBtn" asp-action="TeamSquad" value="Squad" />
            <p style="margin-top:5px;font-weight:bolder">Budget: @Model.CurrentTeam.Budget coins</p>
            <hr style="font-weight:bolder;margin-top:-12px" />
            <input type="submit" asp-action="SortPlayers" asp-route-id="0" asp-route-positionOrder="0" value="All" />
            <input type="submit" asp-route-action="SortPlayers" asp-route-id="1" value="GK" />
            <input type="submit" asp-route-action="SortPlayers" asp-route-id="2" value="DF" />
            <input type="submit" asp-route-action="SortPlayers" asp-route-id="3" value="MF" />
            <input type="submit" asp-route-action="SortPlayers" asp-route-id="4" value="ST" />
        </div>

        <div class="FreeAgents">
            <hr />
            <table class="table table-sm table-dark" style="font-size:20px;">
                <thead>

                    <tr>
                        <th scope="col">Pos</th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="5" asp-route-positionOrder="@Model.PositionOrder" value="Name">Name</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="6" asp-route-positionOrder="@Model.PositionOrder" value="Nat">Nat</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="7" asp-route-positionOrder="@Model.PositionOrder" value="Age">Age</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="8" asp-route-positionOrder="@Model.PositionOrder" value="Ono">Ono</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="9" asp-route-positionOrder="@Model.PositionOrder" value="Ref">Ref</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="10" asp-route-positionOrder="@Model.PositionOrder" value="Fin">Fin</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="11" asp-route-positionOrder="@Model.PositionOrder" value="Pas">Pas</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="12" asp-route-positionOrder="@Model.PositionOrder" value="Hea">Hea</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="13" asp-route-positionOrder="@Model.PositionOrder" value="Tck">Tck</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="14" asp-route-positionOrder="@Model.PositionOrder" value="Pos">Pos</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="15" asp-route-positionOrder="@Model.PositionOrder" value="Pac">Pac</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="16" asp-route-positionOrder="@Model.PositionOrder" value="Sta">Sta</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="17" asp-route-positionOrder="@Model.PositionOrder" value="Str">Str</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="18" asp-route-positionOrder="@Model.PositionOrder" value="Drb">Drb</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="19" asp-route-positionOrder="@Model.PositionOrder" value="Bcl">Bcl</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="20" asp-route-positionOrder="@Model.PositionOrder" value="OVR">OVR</a></th>
                        <th scope="col"><a class="columnTitles" asp-route-action="SortPlayers" asp-route-id="21" asp-route-positionOrder="@Model.PositionOrder" value="Price">Price</a></th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in @Model.FreeAgents)
                    {
                        var currentAttr = Model.PlayerAttributes.FirstOrDefault(x => x.PlayerId == player.Id);
                        <tr>
                            <td>@player.Position.Abbr</td>
                            <td><a class="playerStatsLink" asp-action="PlayerDetails" asp-controller="Menu" asp-route-id="@player.Id">@player.FirstName @player.LastName</a></td>
                            <td>@player.Nation.Abbr</td>
                            <td>@player.Age</td>
                            <td>@player.PlayerAttributes.OneOnOne</td>
                            <td>@player.PlayerAttributes.Reflexes</td>
                            <td>@player.PlayerAttributes.Finishing</td>
                            <td>@player.PlayerAttributes.Passing</td>
                            <td>@player.PlayerAttributes.Heading</td>
                            <td>@player.PlayerAttributes.Tackling</td>
                            <td>@player.PlayerAttributes.Positioning</td>
                            <td>@player.PlayerAttributes.Pace</td>
                            <td>@player.PlayerAttributes.Stamina</td>
                            <td>@player.PlayerAttributes.Strength</td>
                            <td>@player.PlayerAttributes.Dribbling</td>
                            <td>@player.PlayerAttributes.BallControll</td>
                            <td>@player.Overall</td>
                            <td>@player.Price</td>
                            <td><input type="submit" value="Buy" asp-route-id="@player.Id" asp-action="ConfirmationTransfer" /></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </body>
</form>